@mixin custom-scrollbar($size: 10px) {
  /* width */
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@mixin responsive-min($pixel) {
  @media screen and (min-width: $pixel) {
    @content;
  }
}

@mixin responsive-max($pixel) {
  @media screen and (max-width: $pixel) {
    @content;
  }
}
